<div class="container">
    <div class="card-row">
      <div class="card-header">
        <h1>{{title}}</h1>
       </div>
      <div class="card-body">
        <app-task-form [taskList]="taskList" (arrayLength)="arrayLengthApp($event)"></app-task-form>
            </div>
      <div class="card-body">
        <h2 *ngIf="currentStatus; else notasks">My current tasks({{tasklength}})</h2>
        <ng-template #notasks>
          <h2>no tasks is created</h2>
        </ng-template>

        
     
       <app-task-list [tasks]="taskList" (arrayLength)="arrayLengthApp($event)">
       
    
       </app-task-list>
      </div>
    </div>
</div>